.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e1e1e; /* Dark background */
  color: #fff; /* Light text color */
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
  font-size: 1.2em;
}

.filter-container select {
  padding: 10px;
  border: 1px solid #00ffdd; /* Neon accent color */
  border-radius: 5px;
  background: #0e0e0e; /* Dark background */
  color: #fff; /* Light text color */
}

.add-post-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00ffdd; /* Neon accent color */
  color: #0e0e0e; /* Dark text color */
  cursor: pointer;
  margin-bottom: 20px;
}

.add-post-button:hover {
  background-color: #00b3cc; /* Hover color */
}

.post-list {
  list-style-type: none;
  padding: 10px;  
}

.post-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #00ffdd; /* Neon accent color */
  border-radius: 10px;
  background-color: #0e0e0e; /* Dark background for posts */
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5); /* Neon glow */
  transition: transform 0.3s ease, background 0.3s ease; /* Smooth transitions */
}

.post-item:hover {
  background: rgba(0, 255, 255, 0.2);
  transform: scale(1.05);
}

.post-item h2 {
  margin: 0 0 10px;
  font-size: 2rem;
  color: #00ffdd; /* Neon accent color */
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.7); /* Neon text glow */
}

.post-item p {
  margin: 5px 0;
}


@media screen and (min-width: 768px) {
  .post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  
}