/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: center; /* Center align the content */
    align-items: center;
    background-color: #333;
    padding: 10px 0;
    color: #fff;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    height: 50px; /* Adjust logo size as needed */
}

.navbar .logo img {
    height: 50px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar nav ul li {
    margin: 0 10px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar nav ul li a:hover {
    background-color: #555;
    padding: 2px;
    border-radius: 5px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .logo {
        margin: 0 0 20px 20px;
        align-items: center;
    }

    .navbar nav ul {
        flex-direction: column;
        text-align: center;
        padding-left: 18px;
    }

    .navbar nav ul li {
        margin: 5px 0;
    }
}