/* Store.css */
.store-container {
    padding: 20px;
    max-width: 100vw;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #00ffdd;
}

.store-container h2 {
    font-size: 2rem;
    color: #00ffdd;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}
.store-container p {
    color: #ffffff;
    border-bottom: 1px solid #00b3cc;
    padding: 4px;
    
}
/* Products */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    text-align: left;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.product img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 172px;
}

.product h3 {
    color: #00ffdd;
    margin: 0 0 10px;
    border: #00b3cc;
}

.product p {
    color: #ffffff;
}

.product .price {
    font-size: 1.2rem;
    color: #ffdd00;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00ffdd;
    color: #0e0e0e;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00b3cc;
}
/* Add buttom */
.add-product-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00ffdd;
    color: #0e0e0e;
    cursor: pointer;
    margin-bottom: 20px;
}

